@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

/* img {
  max-width: 100%;
  height: auto;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  justify-items: center;
  border: none;
  cursor: pointer;
  padding: 9px 15px;
}

/* Кнопка хочу сюда */
.button-navigation {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  padding: 9px 15px 8px;
  display: block;
  border: none;
}

.button-navigation:hover,
.button-navigation:focus {
  background-color: #615048;
}

.button-navigation:default {
  background-color: #756157;
}

.button-navigation:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-navigation:disabled {
  background-color: #E5E5E5;
}

/* Кнопка поиска */
.button-search {
  width: 574px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
}

.button-search:hover,
.button-search:focus {
  background-color: #615048;
}

.button-search:default {
  background-color: #756157;
}

.button-search:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-search:disabled {
  background-color: #E5E5E5;
}

/* Кнопка подписаться */
.button-newsletter {
  width: 200px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}



.button-newsletter:default {
  background-color: #82B3D3;
}

.button-newsletter:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-newsletter:hover,
.button-newsletter:focus {
  background-color: #68A2CA;
}

.button-newsletter:disabled {
  background-color: #E5E5E5;
}

/* Кнопка применить */

.button-accept {
  padding: 14px 15px;
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
  background-color: #82B3D3;
}

.button-accept:default {
  background-color: #82B3D3;
}

.button-accept:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-accept:hover,
.button-accept:focus {
  background-color: #68A2CA;
}

.button-accept:disabled {
  background-color: #E5E5E5;
}

/* Кнопка сбросить */
.button-cancel {
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
  padding: 14px 15px;
  width: 160px;
  height: 48px;
}

.button-cancel:hover {
  color: #FFFFFF;
  Opacity: 60%
}

.button-cancel:focus {
border: 3px solid #83B3D3;
}

.button-cancel:default {
  color: #FFFFFF;
}

.button-cancel:active {
  color: #FFFFFF;
  Opacity: 30%;
}


/* карточки в сортировке */
.position-card {
  color: #000000;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}

.position-card svg {
  fill: #ffffff;
}

.position-card:default svg{
  border: 2px solid #E5E5E5;
}

.position-card:hover:active svg {
  border-top: 2px #000000;
}

.position-card:focus svg {
  border: 2px #68A2CA;
}

.button-main:hover,
.button-main:focus {
  background-color: #615048;
}

.button-main:default {
  background-color: #756157;
}

.button-main:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-main:disabled {
  background-color: #E5E5E5;
}

/* Кнопка в избранное */

.button-additional:hover,
.button-additional:focus {
  background-color: #68A2CA;
}

.button-additional:default {
  background-color: #82B3D3;
}

.button-additional:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-additional:disabled {
  background-color: #E5E5E5;
}



/* Зеленая кнопка */

.button-selected:default {
  background-color: #7DB54F;
}

.button-selected:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-selected:hover,
.button-selected:focus {
  background-color: #6C9E42;
}

.button-selected:disabled {
  background: #E5E5E5;
}

/* кнопка рейтинг */
.button-rating {
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.button-rating:default,
.button-rating:hover,
.button-rating:focus,
.button-rating:active  {
  background-color: #F2F2F2;
  color: #000000;
}



.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
  object-fit: contain;
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user {
  max-width: 270px;
  margin-right: 70px;
}

.navigation-user .navigation-link {
  min-width: 19px;
  min-height: 19px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.favourites-amount {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  background: #7DB54F;
  min-width: 20px;
  min-height: 20px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  background-image: url("../images/pictures-html/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  padding-top: 51px;
  margin: 0 auto;
  margin-bottom: 82px;
}

.header-block {
  padding: 0;
  margin: 0;
}

.advantages-intro {
  padding: 63px 273px 90px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.advantages-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 31px;
}

.advantages-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  margin: 0;
}

.advantages {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 30px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: none;
}

.advantages-title-town,
.advantages-title-bridge,
.advantages-description-town,
.advantages-description-bridge,
.advantages-number-first,
.advantages-number-second {
  color: #ffffff;
  margin: 0;
}

.advantages-title-town,
.advantages-title-bridge {
  margin-bottom: 30px;
}

.advantages-number-first,
.advantages-number-second {
  margin-bottom: 30px;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
 display: flex;
 flex-wrap: wrap;
 min-width: 384px;
}

.main-advantages {
  padding: 103px 85px;
}

.advantages-item-more {
  width: 400px;
  min-height: 384px;
}

.additional-advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additional-advantages-item {
 display: flex;
 width: 400px;
 min-height: 384px;
}

.additional-advantages,
.additional-advantages,
.additional-advantages {
  padding: 182px 85px;
}

.icon-accommodation {
  background-image: url("../images/pictures-html/icon-accommodation.svg");
  background-repeat: no-repeat;
  background-size: 76px 73px;
  background-position: 163px 80px;
}


.icon-food {
  background-image: url("../images/pictures-html/icon-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 71px;
  background-position: center;
}

.icon-presents {
  background-image: url("../images/pictures-html/icon-presents.svg");
  background-repeat: no-repeat;
  background-size: 65px 77px;
  background-position: 163px 80px;
}

.main-advantages,
.additional-advantages {
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0;
}

.additional-advantages-food {
  background-color: #ffffff;
  margin: 0;
}

.main-advantages-blue {
  background-color: #82B3D3;
  color: #ffffff;
  margin: 0;
  padding: 92px 85px;
}

.main-advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
  margin: 0;
}

.picture-block {
  display: flex;
  width: 1200px;
  margin: 0;
}

.main-advantages-photo {
  width: 800px;
}

.photo-town,
.photo-bridge {
  display: block;
  object-fit: cover;
}

.hotel-search {
  padding: 91px 304px 93px;
  text-align: center;
  background-color: #ffffff;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}


.hotel-search-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  color: #333333;
  margin-bottom: 56px;
}

.newsletter {
  max-width: 1200px;
  padding: 94px 200px;
  text-align: center;
  color: #ffffff;
  background-color: #86adcd;
  background-image: url("../images/pictures-html/index-background-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.newsletter-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 46px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.newsletter-catalog {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.field {
  width: 600px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 70px 30px;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.footer-social {
  width: 150px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-social-link:default {
 color: #83B3D3;
}

.footer-social-link:hover {
  color: #68A2CA;
}

.footer-social-link:focus {
  color: #68A2CA;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.htmlacademy-link,
.footer-contacts-phone:default {
  color: #000000;
}

.htmlacademy-link,
.footer-contacts-phone:hover {
  color: #756157;
}

.htmlacademy-link,
.footer-contacts-phone:focus {
  color: #756157;
}

.htmlacademy-link,
.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-container-catalog {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.hotel-sorting-block {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #678eb3;
  background-image: url("../images/pictures-catalog/background-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  margin-right: 26px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: none;
  margin-top: 0;
  padding-bottom: 30px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}

.filter-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: none;
}

.low-price,
.high-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.button-block {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.catalog-sorting-block {
  display: flex;
  width: 1056px;
  flex-direction: column;
  margin-left: 72px;
}

.catalog-sorting-group{
  display: flex;
  margin-top: 50px;
  margin-bottom: 56px;
}

.hotels-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-left: auto;
}

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.hotel-card {
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 211px min-content repeat(3, auto);
  gap: 16px 20px;
}

.hotel-card-link {
  display: grid;
  object-fit: contain;
  grid-template-columns: 300px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.hotel-title-link {
  display: grid;
  text-decoration: none;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.hotel {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.hotel-price {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.hotel-information {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
}

.button-main {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.button-selected {
  background-color: #7DB54F;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.button-additional {
  background: #82B3D3;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.hotel-rating {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-areas: "hotel-rating-4 button-rating"
    "hotel-rating-3 button-rating"
    "hotel-rating-2 button-rating";
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  column-gap: 20px;
}

.button-rating {
  grid-area: button-rating;
}

.hotel-rating-4 {
  grid-area: hotel-rating-4;
}

.hotel-rating-3 {
  grid-area: hotel-rating-4;
}

.hotel-rating-2 {
  grid-area: hotel-rating-4;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: none;
  text-decoration: none;
  margin: 0;
}

.hotel,
.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: none;
}

.pagination-block {
  width: 1056px;
  display: flex;
  margin-bottom: 25px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
}

.pagination-link:default,
.pagination-link:active {
  background-color: #82B3D3;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus,
.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:default,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active  {
  background-color: #F2F2F2;
  color: #000000;
}



.hotels-amount {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
